{% extends 'core/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mt-5">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Tambah Materi Pembelajaran Baru</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">Simpan Materi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}